<h1>{{title}}</h1>
<div>
    <h2>Conoce un poco acerca de nosotros y nuesros objetivos</h2>
    <article>
        <h3>Un pococ de historia</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore itaque praesentium id. Ipsum quibusdam,
            dolore tempore quidem exercitationem architecto autem dolor illum est officiis. Dolorum sapiente dolore
            ratione iure facilis?</p>
    </article>

</div>