<h1>{{title}}</h1>
<div>
    <div><img src="" alt=""><a href="">facebook</a></div>
    <div><img src="" alt=""><a href="">twitter</a></div>
    <div><img src="" alt=""><a href="">instagram</a></div>
    <p>gmail</p>
</div>