<div class="cursos">

	<div class="container">

		<!-- First card -->
		<div class="card">
			<div class="imgBx">
				<img src="/images/melqui.jpg" alt="">
			</div>
			<div class="content">
				<h2>PINTURA</h2>
				<p>En este curso de 20 lecciones aprenderas todo lo relacionado con la teoria del color a mesclar
					colores a utilizar pinceles y a construir impresionantes obras.
				</p>
				<input class="ri" type="submit" value="curso" id="">
			</div>
		</div>

		<!-- second card-->

		<div class="card">
			<div class="imgBx">
				<img src="/images/11.jpg" alt="">
			</div>
			<div class="content">
				<h2>DIBUJO</h2>
				<p>En este curso de 10 lecciones aprenderas desde cero a analizar y crear imagenes increibles en
					grafito, te asombraras de tus capacidades ocultas te esperamos.</p>

				<input class="ri" type="submit" value="curso" id="">
			</div>
		</div>

		<!-- tird card -->

		<div class="card">
			<div class="imgBx">
				<img src="/images/imagen4.jpg" alt="">
			</div>
			<div class="content">
				<h2>PRIVADO</h2>
				<p>Con nuestra guia personalizada podremos poner mas enfasis en tu aprendisaje por lo cual tenernos
					durante tu proseso sera de mucha ayuda, estaremos atentos a tu solicitud se parte de nuestra gran
					comunidad.
				</p>
				<input class="ir" type="submit" value="loging" id="">
			</div>
		</div>

	</div>

</div>