<div class="encabezado">
    <h1> Registrate </h1>
    <h2> No te piedas de los beneficios </h2>
    <h3>No te pierdas esta asombrosa experiencia</h3>
</div>

<div>

    <form action="users.html" class="box" method="post">
        <h2>loging</h2>
        <input type="email" name="" id="" placeholder="email">
        <input type="password" name="" id="" placeholder="password">
        <input type="submit" value="loging">
    </form>
</div>